

.header{
    position: absolute;
width: 504px;
height: 70px;
left: 852px;
top: 193px;
align-items: center;
background: #C4C4C4;
}
.Button{
    text-align: center;
}
.header1{

    justify-content: center;
background-color:grey;
padding-top: 20px;
color:gray;
top:100px;
bottom:100px;

}
.col{
align-items: center;
}


